body {
    background-color: white;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.main-body {
    height: 100vh;
}

.row {
    color: black;
}

.col1 {
    margin: 3px;
    min-height: 90px;
    text-align: center;
    background-color: silver;
}

.col2 {
    margin: 3px;
    min-height: 90px;
    text-align: center;
    background-color: silver;
}

.col3 {
    margin: 3px;
    min-height: 90px;
    text-align: center;
    background-color: silver;
}
  
#footer-items h5, a{
    color:white;
}

#footer-items h5{
    text-transform:uppercase;
}

#footer-items a{
    text-transform:capitalize;
}